<div class="nested-fields">
    
    <div class="field">
        <% f.label :nombre %><strong>Vacuna</strong>
        <%= f.select :nombre, ['Octuple','Antirrábica','KC']%>
    </div>
    <strong><%= link_to_remove_association "Eliminar Vacuna", f %></strong><br><br>

</div>