<div class="nested-fields">

  <div class="field">
          <% f.label :nombre %><strong>Enfermedad</strong>
          <%= f.text_field :nombre%>
      </div>
      <strong><%= link_to_remove_association "Borrar enfermedad", f %></strong><br><br>

</div>
